<link href="../../import.html" rel='import'>
<polymer-element name='syv-evaluation-form--apst'>
	<template>
		<div class='padding'>
		<h1>{{lessonName}} &gt; Evaluation</h1>
		
		<h1>Création d'une évaluation</h1>
			<paper-input-decorator label="Nom de l'évaluation" floatingLabel>
				<input id="nameEvaluation" extends="paper-input" type="text" value="{{evaluation.name}}"/>
			</paper-input-decorator>
			
			<paper-radio-group id="typeSelector" selected="{{type}}" valueattr="name">
				<paper-radio-button name="Final" label="Partiel"></paper-radio-button>
				<paper-radio-button name="Continue" label="Contrôle"></paper-radio-button>
			</paper-radio-group>
			
			<p>Visibilité de l'évaluation</p>
			<paper-radio-group id="visibility" selected="{{visibility}}">
				<paper-radio-button name="true" label="Visible" disabled?="{{type == 'Final'}}" ></paper-radio-button>
				<paper-radio-button name="false" label="Non visible" disabled?="{{type == 'Final'}}"></paper-radio-button>
			</paper-radio-group>
			
			<paper-input-decorator label="Echelle de notation" floatingLabel>
				<input id="noteEchelle" extends="paper-input" type="number" value="{{ evaluation.gradingScale | asInteger}}" min="0"/>
			</paper-input-decorator>
			
			<p>Date</p>
			<sye-date-picker-button date="{{evaluation.date}}"></sye-date-picker-button>
			
			<paper-input-decorator label="Coefficient" floatingLabel>
				<input id="coefficient" extends="paper-input" type="number" value="{{ evaluation.coef | asDouble }}" min="0"/> 
			</paper-input-decorator>
			<br/><br/>
			
			<span class="right">
				<paper-button raised on-tap="{{cancel}}">
					Annuler
					<core-icon icon="close"></core-icon>
				</paper-button>
				<paper-button raised on-tap="{{save}}">
					Valider
					<core-icon icon="chevron-right"></core-icon>
				</paper-button>
			</span>
		</div>
		
		<paper-toast duration="5000"
					 id="createEvaluation-error-popup"
					 text="Les informations spécifiés n'ont pas permis de créer l'evaluation, veuillez les vérifier et réessayer.">
		</paper-toast>
	</template>
	<script src='../../controllers/apst/syv_evaluation_form.dart' type='application/dart'></script>
</polymer-element>
