<link href='../../import.html' rel='import'>

<polymer-element name="sye-lesson-selector">
	<template>
		<paper-dropdown-menu label="Selectionner une matière">
			<paper-dropdown class="dropdown">
				<core-menu selected='{{selected}}'>
					<template repeat="{{lesson in lessons}}">
						<paper-item data-lesson-id='{{lesson.id}}'>{{lesson.course.name}}</paper-item>
					</template>
				</core-menu>
			</paper-dropdown>
		</paper-dropdown-menu>
	</template>
	<script src="../../controllers/elements/sye_lesson_selector.dart" type="application/dart"></script>
</polymer-element>