<link href='../../import.html' rel='import'>

<polymer-element name="sye-diploma-selector">
	<template>
		<paper-dropdown-menu label="Choisir une formation">
			<paper-dropdown class="dropdown">
				<core-menu selected='{{selected}}'>
					<template repeat="{{diploma in diplomas}}">
						<paper-item data-diploma-id='{{diploma.id}}'>{{diploma.name}}</paper-item>
					</template>
				</core-menu>
			</paper-dropdown>
		</paper-dropdown-menu>
	</template>
	<script src="../../controllers/elements/sye_diploma_selector.dart" type="application/dart"></script>
</polymer-element>