<link href='../../import.html' rel='import'>

<polymer-element name="sye-teacher-selector">
	<template>
		<paper-dropdown-menu label="Choisir un professeur">
			<paper-dropdown class="dropdown">
				<core-menu selected='{{selected}}'>
					<template repeat="{{teacher in teachers}}">
						<paper-item data-domain-id='{{teacher.id}}'>{{teacher.user.name}}</paper-item>
					</template>
				</core-menu>
			</paper-dropdown>
		</paper-dropdown-menu>
	</template>
	<script src="../../controllers/elements/sye_teacher_selector.dart" type="application/dart"></script>
</polymer-element>
