<link href='../../import.html' rel='import'>

<polymer-element name='sye-md-timepicker-dialog'>
	<template>
		<paper-action-dialog>
			<md-timepicker time="{{time}}"></md-timepicker>
		</paper-action-dialog>
	</template>
	<script src='../../controllers/elements/sye_md_timepicker_dialog.dart' type='application/dart'></script>
</polymer-element>

