<link href='../../import.html' rel='import'>

<polymer-element name="sye-course-selector">
	<template>
		<paper-dropdown-menu label="Choisir une matière">
			<paper-dropdown class="dropdown">
				<core-menu selected='{{selected}}'>
					<template repeat="{{course in courses}}">
						<paper-item data-course-id='{{course.id}}'>{{course.name}}</paper-item>
					</template>
				</core-menu>
			</paper-dropdown>
		</paper-dropdown-menu>
	</template>
	<script src="../../controllers/elements/sye_course_selector.dart" type="application/dart"></script>
</polymer-element>