<link href='../../import.html' rel='import'>

<polymer-element name="sye-domains-selector">
	<template>
		<div vertical layout on-change='{{changeListener}}'>
			<template repeat="{{domain in domains}}">
				<br>
				<paper-checkbox label="{{domain.name}}" id="{{domain.id}}" checked='{{checkedDomains[domain.id]}}'></paper-checkbox>
			</template>
		</div>
	</template>
	<script src="../../controllers/elements/sye_domains_selector.dart" type="application/dart"></script>
</polymer-element>