<link href='../../import.html' rel='import'>

<polymer-element name="sye-domain-selector">
	<template>
		<paper-dropdown-menu label="Choisir un domaine">
			<paper-dropdown class="dropdown">
				<core-menu selected='{{selected}}'>
					<template repeat="{{domain in domains}}">
						<paper-item data-domain-id='{{domain.id}}'>{{domain.name}}</paper-item>
					</template>
				</core-menu>
			</paper-dropdown>
		</paper-dropdown-menu>
	</template>
	<script src="../../controllers/elements/sye_domain_selector.dart" type="application/dart"></script>
</polymer-element>