/* Document */
html, body {
	background-color: #ddd;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body /deep/ .default-cursor {
	cursor: default;
}

body /deep/ .no-scrollbar::-webkit-scrollbar { width: 0 !important; }
body /deep/ .no-scrollbar { -ms-overflow-style: none; }

body /deep/ .no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Buttons */
body /deep/ paper-button.green {
	background-color: #388E3C; /* Green 700 */
	color: #E8F5E9; /* Green 50 */
}

body /deep/ paper-button.indigo {
	background-color: #303F9F; /* Indigo 700 */
	color: #E8EAF6; /* Indigo 50 */
}

body /deep/ paper-button.red {
	background-color: #D32F2F; /* Red 700 */
	color: #E8EAF6; /* Red 50 */
}

/* Horizontal ruler */
body /deep/ hr {
    border: 0;
    height: 1px;
    background: #BBB;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.267), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.267), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.267), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.267), rgba(0,0,0,0));
}

/* Cards */
body /deep/ paper-card {
	border-bottom: 1px solid #BDBDBD;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}
body /deep/ paper-card:first-child {
	-webkit-border-top-left-radius: 2px;
	-moz-border-top-left-radius: 2px;
	-o-border-top-left-radius: 2px;
	border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-top-right-radius: 2px;
	-o-border-top-right-radius: 2px;
	border-top-right-radius: 2px;
}
body /deep/ paper-card:last-child {
	border-bottom: none;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-bottom-left-radius: 2px;
	-o-border-bottom-left-radius: 2px;
	border-bottom-left-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-bottom-right-radius: 2px;
	-o-border-bottom-right-radius: 2px;
	border-bottom-right-radius: 2px;
	margin-bottom: 2em;
}

/* Resizing */
body /deep/ *[small] {
	-moz-transform: scale(0.8);
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	
	-moz-transition: -moz-transform 0.25s;
	-webkit-transition: -webkit-transform 0.25s;
	transition: transform 0.25s;
}

body /deep/ *[large] {
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	
	-moz-transition: -moz-transform 0.25s;
	-webkit-transition: -webkit-transform 0.25s;
	transition: transform 0.25s;
}