<!--
Copyright (c) 2014 David Mulder and Benjamin Monjoie
-->

<!--
Edited by Timothee Barbot 
-->

<!--

Material Design: <a href="http://www.google.com/design/spec/components/pickers.html">Date Picker</a>

`paper-date-picker` is the standalone date picker element. It can be used to 
 create inline date pickers or when building your own date picking component.

Example:

    <paper-date-picker></paper-date-picker>

@group Paper Elements
@element paper-date-picker
@homepage https://github.com/David-Mulder/paper-date-picker
-->

<link href='../../../import.html' rel='import'>

<polymer-element name="paper-date-picker">
	<template>
	
		<style>
			
			:host {
				display: inline-block;
				position: relative;
				height: 250px;
				width: 300px;
			}
			
			#container{
				height: 100%;
				width: 100%;
				overflow-x: hidden;
				overflow-y: auto;
				padding: 0px 9px;
				box-sizing: border-box;
			}
			
			#container::-webkit-scrollbar {
				width: 4px;
			}
			
			#container::-webkit-scrollbar-track {
				-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
				-webkit-border-radius: 10px;
				border-radius: 10px;
			}
			
			#container::-webkit-scrollbar-thumb {
				-webkit-border-radius: 10px;
				border-radius: 10px;
				background: rgba(0,0,0,0.1); 
			}
			
			#container::-webkit-scrollbar-thumb:window-inactive {
				background: rgba(255,0,0,0.2); 
			}
			
			.days{
				display: flex;
				flex-wrap: wrap;
				width: 100%;
				align-content: stretch;
				min-height: 210px;
			}
			
			.day{
				width: calc(14% - 6px);
				text-align: center;
				margin: 3px;
				font-size: 13px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			
			.day[data-date]{
				cursor: pointer;
			}
			
			.day span{
				display: block;
				width: 30px;
				height: 30px;
				line-height: 30px;
			}
			
			.day.selected span{
				background-color: #009688;
				color: white;
				border-radius: 100%;
			}
			
			.day.title{
				padding-top: 0px;
				padding-bottom: 4px;
				font-weight: bold;
				color: rgba(0,0,0,.6);
				cursor: default;
			}
			
			.day[enabled='false']{
				pointer-events: none;
				color: rgba(0,0,0,.3);
			}
			
			h1{
				text-align: center;
				font-size: 13px;
				color: rgba(0,0,0,.8);
				margin: 0px;
				padding: 0.67em 0px;
			}
			
		</style>
		
		<div on-tap="{{pickDate}}" id="container" on-scroll="{{scrollFinished}}">
			<template repeat="{{ month in months }}">
				<div class="month" data-month="{{month.number}}" data-year="{{month.year}}">
					<h1>{{month.name}}</h1>
					<div class="days">
						<template repeat="{{name in weekDayNames}}">
							<div class="day title">{{name}}</div>
						</template>
						<template repeat="{{ day in month.days }}">
							<template if="{{!day}}">
								<div class="day"></div>
							</template>
							<template if="{{day}}">
								<div class="day {{ { selected : day.n == currentDay && month.number == currentMonth && month.year == currentYear } | tokenList }}" enabled="{{day.enabled}}" data-date="{{day.n}}" data-month="{{month.number}}" data-year="{{month.year}}">
									<span>{{day.day}}</span>
								</div>
							</template>
						</template>
					</div>
				</div>
			</template>
		</div>
	</template>
	<script src="../../../controllers/elements/paperDatePicker/paper_date_picker.dart" type="application/dart"></script>
</polymer-element>