<!--
Copyright (c) 2014 David Mulder and Benjamin Monjoie
-->

<!--
Edited by Timothee Barbot 
-->

<!--
@group Paper Elements
@element paper-year-picker
@homepage https://github.com/David-Mulder/paper-date-picker
-->

<link href="../../../import.html" rel="import">

<polymer-element name="paper-year-picker">

<template>
	
	<style>
		
		:host {
			display: block;
			height: 250px;
			width:100%;
		}
		#container {
			display: block;
			height: 250px;
			width:100%;
			overflow: auto;
		}
		
		#container::-webkit-scrollbar {
			width: 4px;
		}
		
		#container::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
			-webkit-border-radius: 10px;
			border-radius: 10px;
		}
		
		#container::-webkit-scrollbar-thumb {
			-webkit-border-radius: 10px;
			border-radius: 10px;
			background: rgba(0,0,0,0.4); 
		}
		
		#container::-webkit-scrollbar-thumb:window-inactive {
			background: rgba(255,0,0,0.2); 
		}
		
		.year {
			padding: 10px;
			display: block;
			text-align: center;
			line-height: 42px;
			cursor:pointer;
		}
		
		.year.selected span {
			background-color:rgba(0,159,136,.4);
			border-radius:100%;
			height: 42px;
			display: inline-block;
			width: 42px;
		}
		
	</style>
	
	<div id="container">
		<template repeat="{{ y in years }}">
			<!--<paper-button class="year {{ { selected : y == year} | tokenList  }}" on-tap="{{ yearSelected }}" data-year="{{ y }}"><span>{{ y }}</span></paper-button>-->
			<div class="year {{ y.year == year ? 'selected' : '' }}" on-tap="{{ yearSelected }}" data-year="{{ y.year }}"><span>{{ y.year }}</span></div>
		</template>
	</div>
	
</template>
<script src='../../../controllers/elements/paperDatePicker/paper_year_picker.dart' type="application/dart"></script>
</polymer-element>