<!--
Copyright (c) 2014 David Mulder and Benjamin Monjoie
-->

<!--
Edited by Timothee Barbot 
-->

<!--

Material Design: <a href="http://www.google.com/design/spec/components/pickers.html">Date Picker</a>

`paper-date-picker-dialog` is a date picker dialog for selecting dates.

Example:

    <paper-date-picker-dialog id="picker" date="2000/1/1"></paper-date-picker-dialog>
    
and to open the dialog

    this.$.picker.open();

Events
===

The date picker dialog fires `value-changed` and `selection-changed` events when relevant.

@group Paper Elements
@element paper-date-picker-dialog
@homepage https://github.com/David-Mulder/paper-date-picker
-->

<link href='../../../import.html' rel='import'>

<style shim-shadowdom>
	html /deep/ .date-picker-dialog::shadow #scroller {
		padding:0px;
	}

	html /deep/ .date-picker-dialog .header {
		text-align: center;
		color: rgba(255,255,255,.5);
		background-color: #009688;
	}
	
	html /deep/ .date-picker-dialog .header .dayOfWeekContainer {
		padding: 5px;
		background-color: #00695C;
	}
	
	html /deep/ .date-picker-dialog .header .dayOfMonthContainer {
		cursor: pointer;
		display:flex;
		align-items:center;
		justify-content:center;
	}
	
	html /deep/ .date-picker-dialog .header .monthContainer {
		cursor: pointer;
		font-size: 24px;
		display:flex;
		align-items:center;
		justify-content:center;
		min-height:24px;
		font-weight: 300;
	}
	
	html /deep/ .date-picker-dialog .header .yearContainer {
		cursor: pointer;
		font-size: 24px;
		display:flex;
		align-items:center;
		justify-content:center;
		min-height:24px;
		font-weight: 400;
	}
	
	html /deep/ .date-picker-dialog .datePickerContainer {
		height: 255px;
		width: 280px;
	}
	html /deep/ .date-picker-dialog #datePicker {
		width: 280px;
	}
	
	html /deep/ .date-picker-dialog .selected {
		color: #FFFFFF;
	}
	
	@media only screen and (orientation : portrait) {
		html /deep/ .date-picker-dialog .header .yearContainer{
			padding-bottom:10px;
		}
		html /deep/ .date-picker-dialog .header .monthContainer{
			padding-top:10px;
		}
		html /deep/ .date-picker-dialog .header .dayOfMonthContainer {
			font-size: 60px;
			min-height: 60px;
		}
	}
	@media only screen and (orientation : landscape) {
		html /deep/ .date-picker-dialog {
			width:570px;
		}
		
		/* the second selector is for the polyfill version */
		html /deep/ .date-picker-dialog >  #container , html /deep/ .date-picker-dialog #scroller >  #container {
			display:flex;
			flex-direction: row;
			overflow:hidden;
		}
		
		html /deep/ .date-picker-dialog .header .dayOfMonthContainer {
			font-size: 89px;
			min-height: 89px;
		}
	}
	
</style>

<polymer-element name="paper-date-picker-dialog">
	<template>
		<style>
			:host {
				
			}
		</style>
		
		<paper-action-dialog id="dialog" class="date-picker-dialog" backdrop on-core-overlay-open-completed="{{dialogOpened}}">
		<div id="container">
			<div class="header" layout vertical flex>
				<div class="dayOfWeekContainer selected">{{ dayOfWeek }}</div>
				<div class="monthContainer selected" on-tap="{{ showDatePicker }}" id="month" flex><span>{{ monthShortName }}</span></div>
				<div class="dayOfMonthContainer selected" on-tap="{{ showDatePicker }}" id="day" flex><span>{{ dayOfMonth }}</span></div>
				<div class="yearContainer" id="year" on-tap="{{ showYearPicker }}" flex><span>{{ formattedYear }}</span></div>
			</div>
			<core-animated-pages transitions="cross-fade" class="datePickerContainer" selected="{{page}}">
				<section>
					<paper-date-picker id="datePicker" min="{{min}}" max="{{max}}" date="{{ immediateDate }}" infiniteScrolling="{{infiniteScrolling}}" locale="{{locale}}" startDayOfWeek="{{startDayOfWeek}}" cross-fade></paper-date-picker>
				</section>
				<section>
					<paper-year-picker id="yearPicker" min="{{min}}" max="{{max}}" year="{{ year }}" locale="{{locale}}" cross-fade></paper-year-picker>
				</section>
			</core-animated-pages>
		</div>
		<paper-button affirmative>Cancel</paper-button>
		<paper-button affirmative on-tap={{setDate}}>OK</paper-button>
		
		</paper-action-dialog>
	</template>
	<script src="../../../controllers/elements/paperDatePicker/paper_date_picker_dialog.dart" type="application/dart"></script>
</polymer-element>