<link rel="import" href="../../import.html">
<link rel="import" href="chart-js-import.html">

<!--
A bar chart is a way of showing data as bars.

It is sometimes used to show trend data, and the comparison of multiple data sets side by side.

##### Example

    <chart-bar width="400" height="200"
               labels="['Jan','Feb','Mar','Apr','May','Jun','Jul']",
               values="[[65,59,90,81,56,55,40], [28,48,40,19,96,27,100]]"
               colors="['253,180,92','247,70,74','70,191,189','148,159,177','77,83,96']">
    </chart-bar>

@element chart-bar
@blurb A bar chart is a way of showing data as bars.
@status alpha
@homepage http://robdodson.github.io/chart-elements
-->
<polymer-element name="chart-bar" attributes="width height labels values colors">
  <template>
    <canvas id="canvas" width="{{width}}" height="{{height}}"></canvas>
  </template>
  <script>
    Polymer({
      labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul"],
      values: [
        [65,59,90,81,56,55,40],
        [28,48,40,19,96,27,100]
      ],
      colors: [
        "253,180,92",
        "247,70,74",
        "70,191,189",
        "148,159,177",
        "77,83,96"
      ],
      observe: {
        labels: 'updateChart',
        colors: 'updateChart',
        values: 'updateChart'
      },
      updateChart: function() {
        if (this.chart) {
          this.chart.destroy();
        }

        this.datasets = [];
        this.values.forEach(function (val, i) {
          this.datasets.push({
            fillColor:    "rgba(" + this.colors[i] + ",0.5)",
            strokeColor:  "rgba(" + this.colors[i] + ",1)",
            data: this.values[i]
          });
        }, this);

        this.data = { labels: this.labels, datasets: this.datasets };

        this.ctx = this.$.canvas.getContext('2d');
        this.chart = new Chart(this.ctx).Bar(this.data);
      }
    });
  </script>
  <script type="application/dart" src="../dart_proxys/chart_bar.dart"></script>
</polymer-element>
