<link href="syv_administrator_form.html" rel="import">
<link href="syv_administrator_list.html" rel="import">
<link href='syv_course_form.html' rel='import'>
<link href='syv_course_list.html' rel='import'>
<link href='syv_diploma_list.html' rel='import'>
<link href='syv_diploma_form.html' rel='import'>
<link href="syv_domain_form.html" rel="import">
<link href="syv_domain_list.html" rel="import">
<link href='syv_intern_form.html' rel='import'>
<link href="syv_intern_list.html" rel="import">
<link href='syv_news_form.html' rel='import'>
<link href="syv_president_form.html" rel="import">
<link href="syv_president_list.html" rel="import">
<link href="syv_teacher_form.html" rel="import">
<link href="syv_teacher_list.html" rel="import">
<link href="syv_staff_form.html" rel="import">
<link href="syv_staff_list.html" rel="import">