<link href='../../import.html' rel='import'>

<polymer-element name='syv-diploma-form--aps'>
	<template>
		<core-style ref="table-stylizer"></core-style>
		<div class='padding'>
			<h1>{{edit ? "Edition" : "Création" }} d'une formation</h1>
			
			<paper-input-decorator floatingLabel label="Nom de la formation">
				<input is="core-input" value="{{diploma.name}}">
			</paper-input-decorator>
			
			<div layout horizontal center>
				<h4>Statut :</h4>
				<paper-toggle-button checked="{{dStatus}}"></paper-toggle-button>
			</div>
			
			
			<h4>Superviseur: </h4>
			<sye-teacher-selector value="{{diploma.supervisor}}"></sye-teacher-selector>
			
			<paper-input-decorator floatingLabel label="Moyenne de validation">
				<input is="core-input" value="{{diploma.passMark | asDouble}}" type="number">
			</paper-input-decorator>
			
			<h4>Trimestres: </h4>
			<template repeat="{{period in periods}}">
				<div layout horizontal center>
					<h4>Dates trimestre {{period.ordre}}</h4>
					<sye-date-picker-button date="{{period.startDate}}"></sye-date-picker-button>
					<sye-date-picker-button date="{{period.endDate}}"></sye-date-picker-button>
				</div>
			</template>
			
			
			<div id="lessons_table">
				<h4>Matière</h4>
				<paper-fab icon="add" mini on-tap="{{addRow}}"></paper-fab>
				<paper-shadow z=1>
					<table class="table table-hover table-mc-deep-purple table-bordered">
						<thead>
							<tr>
								<th>Matière</th>
								<th>Coefficient</th>
								<th>Moyenne de validation</th>
								<th>Enseignant</th>
								<th>Optionnel ?</th>
								<th>Supprimer</th>
							</tr>
						</thead>
						<tbody>
							<tr template repeat="{{lesson in lessons}}" center>
								<td><sye-course-selector value="{{lesson.course}}"></sye-course-selector></td>
								<td>
									<paper-input-decorator floatingLabel label="Coefficient">
										<input is="core-input" value="{{lesson.coefficient | asDouble}}" type="number">
									</paper-input-decorator>
								</td>
								<td>
									<paper-input-decorator floatingLabel label="Moyenne de validation">
										<input is="core-input" value="{{lesson.passMark | asDouble}}" type="number">
									</paper-input-decorator>
								</td>
								<td>
									<sye-teacher-selector value="{{lesson.teacher}}"></sye-teacher-selector>
								</td>
								<td>
									<paper-toggle-button checked="{{lesson.optional}}"></paper-toggle-button>
								</td>
								<td>
									<core-icon-button icon="delete" on-tap="{{removeRow}}" data-lesson="{{lesson.hashCode}}"></core-icon-button>
								</td>
							</tr>
						</tbody>
					</table>
				</paper-shadow>
			</div>
			
			<div horizontal layout end-justified>
				<paper-button class="indigo" raised on-tap="{{cancel}}">
					Annuler
					<core-icon icon="close"></core-icon>
				</paper-button>
				<paper-button class="indigo" raised on-tap="{{save}}">
					Valider
					<core-icon icon="chevron-right"></core-icon>
				</paper-button>
			</div>
			
		</div>
	</template>
	<script src='../../controllers/aps/syv_diploma_form.dart' type='application/dart'></script>
</polymer-element>