<link href='../../import.html' rel='import'>

<polymer-element name="syv-intern-form--aps">
	<template>
		<core-style ref="table-stylizer"></core-style>
		<div class="padding">
			<div>
				<h1>{{edit ? "Edition" : "Création" }} d’un stagiaire</h1>
				
				<template if="{{internId != 'new'}}">
					<paper-button class="red" raised on-tap="{{delete}}">
						Supprimer le stagiaire
						<core-icon icon="delete"></core-icon>
					</paper-button>
				</template>
				
				<paper-input-decorator label="Nom du stagiaire" floatingLabel>
				    <input id="name" extends="paper-input" type="text" value="{{intern.user.lastName}}" required/>
				</paper-input-decorator>
				
				<paper-input-decorator label="Prénom du stagiaire" floatingLabel>
				    <input id="firstname" extends="paper-input" type="text" value="{{intern.user.firstName}}" required/>
				</paper-input-decorator>
				
				<paper-input-decorator label="E-mail" floatingLabel>
				    <input id="mail" extends="paper-input" type="text" value="{{intern.user.email}}" required/>
				</paper-input-decorator>
				
				<div horizontal layout>
				    <h4>Date de naissance</h4>
				</div>
				<sye-date-picker-button date="{{birthDate}}"></sye-date-picker-button>
				
				<hr>
				
				<h4>Formations</h4>
				<paper-fab icon="add" mini on-tap="{{addRow}}"></paper-fab>
				<paper-shadow z=1>
					<table class="table table-hover table-mc-deep-purple table-bordered">
						<thead>
							<tr>
								<th>Formation</th>
								<th>Matière facultative 1</th>
								<th>Matière facultative 2</th>
								<th>Payé?</th>
							</tr>
						</thead>
						<tbody>
							<tr template repeat="{{fd in internFDs}}" center>
								<td><sye-diploma-selector value="{{fd.diploma}}"></sye-diploma-selector></td>
								<td><sye-lesson-selector value="{{fd.optionalLessons[0]}}" diplomaId="{{fd.diploma.id}}"></sye-lesson-selector></td>
								<td><sye-lesson-selector value="{{fd.optionalLessons[1]}}" diplomaId="{{fd.diploma.id}}"></sye-lesson-selector></td>
								<td>
									<paper-toggle-button checked="{{fd.paid}}"></paper-toggle-button>
								</td>
							</tr>
						</tbody>
					</table>
				</paper-shadow>
				
				
       			<div horizontal end-justified layout>
					<span class="right">
						<paper-button raised on-tap="{{cancel}}">
							Annuler
							<core-icon icon="close"></core-icon>
						</paper-button>
						<paper-button raised on-tap="{{save}}">
							Valider
							<core-icon icon="chevron-right"></core-icon>
						</paper-button>
					</span>
				</div>
			</div>
		</div>
	</template>
	<script src='../../controllers/aps/syv_intern_form.dart' type='application/dart'></script>
</polymer-element>
