<link href='../../import.html' rel='import'>

<polymer-element name="syv-news-form--aps">
	<template>
		<div class="padding">
			<h1>{{edit ? "Edition" : "Création" }} d'une actualité</h1>
			<hr>
			
			<div vertical layout>
				<paper-input-decorator floatingLabel label="Nom de l'article">
					<input is="core-input" id="title" value="{{information.title}}">
				</paper-input-decorator>
				
				<mark-down-editor text="{{information.post}}"></mark-down-editor>
				<small>L'éditeur est compatible avec la syntaxe Markdown. (<a href="http://blog.wax-o.com/2014/04/tutoriel-un-guide-pour-bien-commencer-avec-markdown/">Documentation</a>)</small>
			</div>
			<!--<core-a11y-keys keys="enter" on-keys-pressed="{{sendIfUnfocused}}"></core-a11y-keys>-->
			<div horizontal layout end-justified>
				<paper-button raised on-tap="{{cancel}}">
					Annuler
					<core-icon icon="close"></core-icon>
				</paper-button>
				<paper-button raised on-tap="{{save}}">
					Valider
					<core-icon icon="chevron-right"></core-icon>
				</paper-button>
			</div>
		
		</div>
	</template>
	<script src="../../controllers/aps/syv_news_form.dart" type="application/dart"></script>
</polymer-element>