<link href='../../import.html' rel='import'>

<polymer-element name="syv-staff-list--aps">
	<template>
		<div class="padding">
			<h1>Listes du personnel administratif</h1>
			<paper-button raised on-tap="{{create}}">Création d'un membre du personnel administratif</paper-button>
			<hr>
			<p>Il y a {{staffs.length}} membre(s) du personnel administratif dans la base de données</p>
			<br/>
			<div flex>
				<template repeat='{{staff in staffs}}'>
					<paper-card class="report" data-staff-id='{{staff.id}}' on-tap='{{edit}}' style="display: block;">
						<core-image src="{{staff.user.pictureUrl}}" style="width:64px; height:64px; margin-top: 4px; margin-left: 4px;" sizing="cover"></core-image>
						<small>{{staff.user.firstName}} {{staff.user.lastName}}</small>
					</paper-card>
				</template>
			</div>
		</div>
	</template>
	<script src='../../controllers/aps/syv_staff_list.dart' type='application/dart'></script>
</polymer-element>