<link href='../../import.html' rel='import'>

<polymer-element name="syv-teacher-form--aps">
	<template>
		<div class="padding">
			<div>
				<h1>{{edit ? "Edition" : "Création" }} d'un enseignant</h1>

				<paper-input-decorator label="Nom de l'enseignant" floatingLabel>
					<input id="name" extends="paper-input" type="text" value="{{teacher.user.lastName}}" required/>
				</paper-input-decorator>

				<paper-input-decorator label="Prénom de l'enseignant" floatingLabel>
					<input id="firstname" extends="paper-input" type="text" value="{{teacher.user.firstName}}" required/>
				</paper-input-decorator>

				<paper-input-decorator label="E-mail" floatingLabel>
					<input id="mail" extends="paper-input" type="text" value="{{teacher.user.email}}" required/>
				</paper-input-decorator>

				<paper-input-decorator label="Numéro" floatingLabel>
					<input id="number" extends="paper-input" type="text" value="{{teacher.number}}"/>
				</paper-input-decorator>

				<paper-input-decorator label="Bureau" floatingLabel>
					<input id="office" extends="paper-input" type="text" value="{{teacher.office}}"/>
				</paper-input-decorator>
				
				<div center horizontal layout>
					<div>Partager l'email avec les stagiaires ?</div> 
					<paper-toggle-button checked="{{teacher.shareMail}}"></paper-toggle-button>
				</div>
				
				<sye-domains-selector values='{{teacher.domains}}'></sye-domains-selector>

			<div horizontal layout end-justified>
				<paper-button raised on-tap="{{cancel}}">
					Annuler
					<core-icon icon="close"></core-icon>
				</paper-button>
				<paper-button raised on-tap="{{save}}">
					Valider
					<core-icon icon="chevron-right"></core-icon>
				</paper-button>
			</div>
			</div>
			<paper-toast duration="5000"
					 id="createTeacher-error-popup"
					 text="Les informations spécifiés n'ont pas permis de créer un enseignant, veuillez les vérifier et réessayer.">
			</paper-toast>
		</div>
	</template>
	<script src='../../controllers/aps/syv_teacher_form.dart' type='application/dart'></script>
</polymer-element>
