<link href='../../import.html' rel='import'>

<polymer-element name="syv-intern-list--aps">
	<template>
		<div class="padding">
			<h1>Listes des stagiares</h1>
			<paper-button raised on-tap="{{create}}">Création d'un stagiaire</paper-button>
			<hr>
			<p>Il y a {{interns.length}} stagiaire(s) dans la base de données</p>
			<br/>
			<div flex>
				<template repeat='{{intern in interns}}'>
					<paper-card class="report" data-intern-id='{{intern.id}}' on-tap='{{edit}}' style="display: block;">
						<core-image src="{{intern.user.pictureUrl}}" style="width:64px; height:64px; margin-top: 4px; margin-left: 4px;" sizing="cover"></core-image>
						<small>{{intern.user.firstName}} {{intern.user.lastName}}</small>
					</paper-card>
				</template>
			</div>
		</div>
	</template>
	<script src='../../controllers/aps/syv_intern_list.dart' type='application/dart'></script>
</polymer-element>