<link href='../../import.html' rel='import'>

<polymer-element name="syv-president-list--aps">
	<template>
		<div class="padding">
			<h1>Listes des présidents</h1>
			<paper-button raised on-tap="{{create}}">Création d'un président</paper-button>
			<hr>
			<p>Il y a {{presidents.length}} présidents dans la base de données</p>
			<br/>
			<div flex>
				<template repeat='{{president in presidents}}'>
					<paper-card class="report" data-president-id='{{president.id}}' on-tap='{{edit}}' style="display: block;">
						<core-image src="{{president.user.pictureUrl}}" style="width:64px; height:64px; margin-top: 4px; margin-left: 4px;" sizing="cover"></core-image>
						<small>{{president.user.firstName}} {{president.user.lastName}}</small>
					</paper-card>
				</template>
			</div>
		</div>
	</template>
	<script src='../../controllers/aps/syv_president_list.dart' type='application/dart'></script>
</polymer-element>