<link href='import.html' rel='import'>

<polymer-element name='syages-app'>
	<template>
		<link href="styles/syages_app.css" rel="stylesheet">

		<syv-navbar class="{{navigationClass}} no-scrollbar" id="navbar" displayed='{{navigationClass != ""}}'></syv-navbar>

		<div id="container" class="{{navigationClass}} no-scrollbar">
            <sye-fullbleed-spinner></sye-fullbleed-spinner>
        </div>

        <syd-error-reporter id="reporter"></syd-error-reporter>
        <favicon-bubble background="#f0c125" colour="#000000" label="{{bubble}}"></favicon-bubble>

		<core-media-query query="max-width: 767px" on-core-media-change="{{mediaChanged}}"></core-media-query>
		
		<paper-toast id="toaster"></paper-toast>
		<paper-toast id="actionToaster"><div style="color: #FDD835;" on-tap="{{tchin}}">{{toastActionLabel}}</div></paper-toast>
	</template>
	<script src='syages_app.dart' type='application/dart'></script>
</polymer-element>
