<link href='../import.html' rel='import'>

<polymer-element name='syv-contact-directory'>
	<template>
	<style>
		.user .clear-button {
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			-o-border-radius: 0;
			border-radius: 0;
			color: #3949AB;
			display:block;
			margin: 0;
			padding: 0;
			text-transform: none;
			width: 100%;
		}

		.user .clear-button:hover {
			background-color: #E8EAF6;
		}

		.user hr {
			margin: 0;
			opacity: 0.375;
		}

		paper-radio-button.filter::shadow #ink { color: #43A047; }
		paper-radio-button.filter::shadow #ink[checked] { color: #43A047; }
		paper-radio-button.filter::shadow #onRadio { background-color: #43A047; }
		paper-radio-button.filter::shadow #offRadio { border-color: #43A047; }
		paper-radio-button.filter[checked]::shadow #offRadio { border-color: #43A047; }
	</style>
	<div class="padding">
		<h1>Annuaire</h1>
		<hr/>

		<template if='{{filtredUsers == null}}'>
			<paper-spinner>Requête en cours</paper-spinner>
		</template>

		<template if='{{filtredUsers != null}}'>
		<div layout horizontal>
			<paper-radio-group on-core-select='{{refresh}}' selected='{{filter}}'>
				<paper-radio-button class="filter" label="Tous" name="0"></paper-radio-button>
				<template if='{{loggedUser.kind != "Intern"}}'>
					<paper-radio-button class="filter" label="Administrateurs" name="1"></paper-radio-button>
					<paper-radio-button class="filter" label="Presidents" name="3"></paper-radio-button>
					<paper-radio-button class="filter" label="Administration" name="4"></paper-radio-button>
				</template>
				<paper-radio-button class="filter" label="Stagiaires" name="2"></paper-radio-button>
				<paper-radio-button class="filter" label="Professeurs" name="5"></paper-radio-button>
			</paper-radio-group>
			<span flex></span>
			<core-icon-button icon="refresh" on-tap="{{refresh}}" style="max-height: 40px !important; min-width: 40px !important;"></core-icon-button>
		</div>
		</template>

		<template if="{{filtredUsers.length == 0}}">
			<p style='width: 100%; text-align:center;'>Aucun utilisateur n'a été trouvé pour le filtre sélectionné</p>
		</template>

		<template if="{{filtredUsers.length == 1}}">
			<p>{{filtredUsers.length}} utilisateur a été trouvé.</p>
		</template>
		<template if="{{filtredUsers.length > 1}}">
			<p>{{filtredUsers.length}} utilisateurs ont été trouvés.</p>
		</template>

		<template if="{{filtredUsers.length > 0}}">
			<template repeat='{{user in filtredUsers}}'>
				<paper-card class="user" style="display: block;">
						{{ user.firstName }} {{ user.lastName}} - {{ user.email }}
				</paper-card>
			</template>
		</template>
		
		
	</div></template>
    <script src='../controllers/syv_contact_directory.dart' type='application/dart'></script>
</polymer-element>
