<link href='../import.html' rel='import'>

<polymer-element name='syv-password-reset-request'>
	<template>
		<div class="padding">
            <paper-input-decorator id="emailDecorator" floatingLabel label="E-mail" flex>
                	<input id="email" is="core-input" type="email" value="{{model.email}}" />
            </paper-input-decorator>
	
			<span class="right">
				<paper-button raised class="indigo" id="login-button" on-tap="{{cancel}}">
					Annuler
					<core-icon icon="close"></core-icon>
				</paper-button>
				<paper-button raised class="indigo" id="login-button" on-tap="{{send}}">
					Valider
					<core-icon icon="chevron-right"></core-icon>
				</paper-button>
			</span>
			
	
			<core-a11y-keys keys="enter" on-keys-pressed="{{send}}"></core-a11y-keys>
		</div>
		<paper-toast autoCloseDisabled
						 duration="5000"
						 id="send-popup"
						 text="Si l'email saisi correspond à un compte Syages, un email sera envoyé contenant la marche à suivre.">
		</paper-toast>
	</template>
    <script src='../controllers/syv_password_reset_request.dart' type='application/dart'></script>
</polymer-element>