<link href='../import.html' rel='import'>

<polymer-element name="syv-signup-form">
	<template>
		<div class="padding">
	        <div class="introduction">
	        Merci de vouloir participer au développement de Syages en participant à la beta.<br>
	        Nous vons invitons à remplir le formulaire suivant pour créer votre compte.
	        </div>
	        
	        <div class="userKind">
	        	Vous allez effectuer la démo en temps que: {{user.kind | filterKind()}}.
	        </div>
	
	        <div>
	            <paper-input-decorator id="emailDecorator" floatingLabel label="E-mail" flex>
	                	<input id="email" is="core-input" type="email" value="{{user.email}}" />
	            </paper-input-decorator>
	            <paper-input-decorator id="firtNameDecorator" floatingLabel label="Prénom" flex>
	                <input id="frstName" is="core-input" type="text" value="{{user.firstName}}"/>
	            </paper-input-decorator>
	            <paper-input-decorator id="lastNameDecorator" floatingLabel label="Nom" flex>
	                <input id="lastName" is="core-input" type="text" value="{{user.lastName}}"/>
	            </paper-input-decorator>
	            <template if="{{user.kind == 'Intern'}}">
	            	<sye-date-picker-button date="{{birthDate}}"></sye-date-picker-button>
	            </template>
			</div>
			
			<div horizontal layout end-justified>
				<paper-button class="indigo" id="cancel-button" on-tap="{{cancel}}">
		            Annuler
		            <core-icon icon="close"></core-icon>
				</paper-button>
				
				<paper-button class="indigo" id="create-button" on-tap="{{create}}">
		            Créer
		            <core-icon icon="chevron-right"></core-icon>
				</paper-button>
			</div>
	
			<core-a11y-keys keys="enter" on-keys-pressed="{{create}}"></core-a11y-keys>
		</div>
		<paper-toast autoCloseDisabled
						 duration="5000"
						 id="error-popup"
						 text="Les données saisies ne nous ont pas permis de créer un compte, merci de corriger le formulaire">
		</paper-toast>
		<paper-toast autoCloseDisabled
						 duration="5000"
						 id="success-popup"
						 text="Vous allez maintenant recevoir un email vous invitant à confirmer votre inscription.">
		</paper-toast>
	</template>
	<script src="../controllers/syv_signup_form.dart" type="application/dart"></script>
</polymer-element>