<link href='import.html' rel='import'>

<polymer-element name="syv-profile-form">
	<template>
		<div class="padding">
			<div>
				<h1>Edition du profil de {{user.firstName}}</h1>
				
				<file-drop style="display: inline-block;" on-file-dropped="{{dropImage}}">
					<core-image src="{{user.pictureUrl}}"></core-image>
				</file-drop>
				
	
				<paper-input-decorator label="Prénom Nom (non modifiable)" floatingLabel>
					{{user.firstName}} {{user.lastName}}
				</paper-input-decorator>

	
				<paper-input-decorator label="E-mail" floatingLabel>
					<input id="mail" extends="paper-input" type="text" value="{{user.email}}" required/>
				</paper-input-decorator>
				
				
				<template if="{{user.kind != 'Intern'}}">
					<!-- apst profile -->
					<paper-input-decorator label="Numéro" floatingLabel>
						<input id="number" extends="paper-input" type="text" value="{{number}}"/>
					</paper-input-decorator>
		
					<paper-input-decorator label="Bureau" floatingLabel>
						<input id="office" extends="paper-input" type="text" value="{{office}}"/>
					</paper-input-decorator>
				</template>
				
				<template if="{{user.kind == 'Intern'}}">
					<!-- Intern profile -->
					<paper-input-decorator label="Nom de la dernière école" floatingLabel>
						<input id="lastSchool" extends="paper-input" type="text" value="{{intern.lastSchool}}"/>
					</paper-input-decorator>
					
					<paper-input-decorator label="Année de la dernière école" floatingLabel>
						<input id="schoolYear" extends="paper-input" type="text" value="{{intern.lastSchoolYear.year}}"/>
					</paper-input-decorator>
					
					<paper-input-decorator label="Projet Profesionnel" floatingLabel>
						<input id="professionalProject" extends="paper-input" type="text" value="{{intern.professionalProject}}"/>
					</paper-input-decorator>
					
					<template if="{{intern.worked == true}}">
						<paper-input-decorator label="Dernier Job" floatingLabel>
							<input id="job" extends="paper-input" type="text" value="{{intern.job}}"/>
						</paper-input-decorator>
					</template>
					
					<!-- FOLLOWED DIPLOMA -->
				</template>
				
				<template if="{{user.kind == 'President'}}">
					<!-- President profile -->
					<paper-input-decorator label="Nombre de jours entre 2 sauvegarde de BDD" floatingLabel>
						<input id="number" extends="paper-input" type="text" value="{{president.recurrence}}"/>
					</paper-input-decorator>
		
					<paper-input-decorator label="Heure de la sauvegarde de la BDD" floatingLabel>
						<input id="office" extends="paper-input" type="text" value="{{president.hour}}"/>
					</paper-input-decorator>
				</template>
				
			<span class="right">
				<paper-button raised on-tap="{{cancel}}">
					Annuler
					<core-icon icon="close"></core-icon>
				</paper-button>
				<paper-button raised on-tap="{{save}}">
					Valider
					<core-icon icon="chevron-right"></core-icon>
				</paper-button>
			</span>
			</div>
			<paper-toast duration="5000"
					 id="editProfile-error-popup"
					 text="Les informations spécifiés n'ont pas permis de mettre à jour votre profil, veuillez les vérifier et réessayer.">
			</paper-toast>
		</div>
	</template>
	<script src='../controllers/syv_profile_form.dart' type='application/dart'></script>
</polymer-element>
