<link href='../import.html' rel='import'>

<polymer-element name="syv-newsfeed">
	<template>
		<div class="padding">
			<h1>Actualités</h1>
			<template if='{{loggedUser.kind != "Intern"}}'>
				<paper-button raised on-tap={{create}}>Créer <core-icon icon="add"></core-icon></paper-button>
			</template>

			<hr/>

			<template if='{{informations == null}}'>
				<paper-spinner>Requête en cours</paper-spinner>
			</template>

			<template if="{{informations.length == 0}}">
				<p style='width: 100%; text-align:center;'>Aucunes actualités.</p>
			</template>

			<template if="{{informations.length > 0}}">
				<template repeat='{{information in informations}}'>
					<paper-card class="report" style="display: block;">
						<paper-button class='clear-button' data-information-id='{{information.id}}' on-tap='{{edit}}' style='width:100%; height:100%;' >
							{{information.title}}
						</paper-button>
						<hr style="margin: 0; opacity: 0.25;"/>
						<mark-down text='{{information.post | htmlEntities()}}' style='margin:3px;'></mark-down>
						<p style="display:block; text-align:right; width: 100%;"><small>
						écrit par {{information.author.name}}
						</small></p>
					</paper-card>
				</template>
			</template>
		</div>
	</template>
	<script src="../controllers/syv_newsfeed.dart" type="application/dart"></script>
</polymer-element>