<link href='../import.html' rel='import'>

<polymer-element name='syv-first-login--i'>
	<template>
		<div class="padding">
			<h1>Première Connexion</h1>
			<p>
			Bonjour et bienvenue sur votre ENT, environnement de travail numérique, qui vous permettra tout au long de votre formation, de vous tenir informé sur vos notes et bien plus encore !<br/>
			Veuiller remplir les champs ci-dessous pour permettre à vos enseignants d'en savoir un peu plus sur vous.
			</p>
			
			<paper-input-decorator floatingLabel label="Votre dernier établissement">
				<input is="core-input" id="lastSchool" value="{{model.lastSchool}}">
			</paper-input-decorator>
			
			<label>Dernière année d'étude: </label>
			<paper-year-picker year="{{model.lastSchoolYear}}" max="{{today}}"></paper-year-picker>

			<paper-input-decorator floatingLabel label="Votre projet professionel">
      			<paper-autogrow-textarea>
					<textarea id="profesionalProjet" value="{{model.professionalProjet}}"></textarea>
				</paper-autogrow-textarea>
    		</paper-input-decorator>

			<p>Avez vous effectué une activité professionel durant votre période de césure ?</p>
			<paper-radio-group id="activiteProRadioGroup" selected="{{activity}}">
				<paper-radio-button name="true" label="Oui"></paper-radio-button>
				<paper-radio-button name="false" label="Non"></paper-radio-button>
			</paper-radio-group>
			
			<template if="{{activity == 'true'}}">
				<paper-input-decorator floatingLabel label="Si oui laquel ?">
					<input is="core-input" id="job" value="{{model.job}}">
				</paper-input-decorator>
			</template>
			
			<paper-button class="indigo" id="validate-button" on-tap="{{validate}}">
	            Valider
	            <core-icon icon="chevron-right"></core-icon>
			</paper-button>
		</div>
	</template>
    <script src='../../controllers/i/syv_first_login.dart' type='application/dart'></script>
</polymer-element>
