<link rel='import' href='../../import.html' >

<polymer-element name='syv-marks--i'>
	<template>
		<style shim-shadowdom>
			paper-tabs::shadow #selectionBar {
				background-color: #673ab7;
			}
			
			paper-tabs paper-tab::shadow #ink {
				color: #673ab7;
			}
		</style>
		<core-style ref="table-stylizer"></core-style>
		<div class='padding'>
			<h1>Mes notes</h1>
			<div id="infoDiploma" horizontal layout center>
				<div flex>{{internMarks.diploma.name}}</div>
				<div>{{internMarks.average | formatAverage()}} / 20</div>
			</div>
			<hr>
			<paper-tabs selected="{{currentPeriod}}">
				<template repeat="{{period in internMarks.periods}}">
					<paper-tab>Trimestre {{period.period.ordre}}</paper-tab>
				</template>
			</paper-tabs>
			
			<core-pages selected="{{currentPeriod}}">
				<template repeat="{{period in internMarks.periods}}">
					<div>
						<div id="periodInfo" horizontal layout center>
							<div flex>Trimestre du {{period.period.startDate | formatDate()}} au {{period.period.endDate | formatDate()}}</div>
							<div>{{period.average | formatAverage()}} / 20</div>	
						</div>
						<paper-shadow z=1>
							<template repeat="{{section in period.marks}}">
								<table class="table table-hover table-mc-deep-purple table-bordered">
									<thead>
										<tr>
											<th>{{section.lesson.course.name}}</th>
											<th flex></th>
											<th>{{section.lesson.coefficient}}</th>
											<th >{{section.average | formatAverage()}} / 20</th>
										</tr>
									</thead>
									<tbody>
										<tr template repeat='{{mark in section.marks}}'>
											<td flex three>{{mark.evaluation.name}}</td>
											<td flex two>{{mark.evaluation.date | formatDate()}}</td>
											<td>{{mark.evaluation.coef}}</td>
											<td>{{mark.mark}} / {{mark.evaluation.gradingScale}}</td>
										</tr>
									</tbody>
								</table>
							</template>
						</paper-shadow>
					</div>
				</template>
			</core-pages>
		</div>
	</template>
	<script src='../../controllers/i/syv_marks.dart' type='application/dart'></script>
</polymer-element>