<link rel='import' href='../../import.html'>

<polymer-element name='syv-absences--i'>
	<template>
		<core-style ref="table-stylizer"></core-style>
		<div class='padding'>
			<h1>Mes absences</h1>
			<hr>
			<!-- listes des absences notées -->
			<h2>Mes Absences notées:</h2>
			<paper-shadow z=1>
			<table class="table table-hover table-mc-deep-purple table-bordered">
				<thead>
					<tr>
						<th>Date</th>
						<th>Statut</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr template repeat="{{absence in notedAbsences}}">
						<td>{{absence.date | formatDate()}} {{absence.timeOfDay}}</td>
						<td>{{absence.status}}</td>
						<td>
							<paper-button data-na-id="{{absence.id}}" on-tap="{{justify}}" raised>
								<core-icon icon='content-paste'></core-icon>
							</paper-button>
						</td>
					</tr>
				</tbody>
			</table>
			</paper-shadow>
			
			<hr>
			<!-- listes absences déclarées -->
			<h2>Mes Absences déclarées:</h2>
			<paper-shadow z=1>
			<table class="table table-hover table-mc-deep-purple table-bordered">
				<thead>
					<tr>
						<th>Début</th>
						<th>Fin</th>
						<th>Statut</th>
						<th>Raison</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr template repeat='{{absence in declaredAbsences}}'>
						<td>{{absence.startDate | formatDate()}} {{absence.timeOfDayStart}}</td>
						<td>{{absence.endDate | formatDate()}} {{absence.timeOfDayEnd}}</td>
						<td>{{absence.reason}}</td>
						<td>{{absence.status}}</td>
						<td>
							<paper-button on-tap="{{print}}" raised>
								<core-icon icon='print'></core-icon>
							</paper-button>
						</td>
					</tr>
				</tbody>
			</table>
			</paper-shadow>
			<!-- formulaires justification absences -->
			<hr>
			<div id='form'>
				<h2>Signaler une absence: </h2>
				<div id='inputs'>
					<div horizontal layout center around-justified>
						<label>Date de début: </label>
						<sye-date-picker-button date="{{newAbsence.startDate}}"></sye-date-picker-button>
						<sye-time-of-day-selector value="{{newAbsence.timeOfDayStart}}"></sye-time-of-day-selector>
					</div>
					<div horizontal layout center around-justified>
						<label>Date de fin:    </label>
						<sye-date-picker-button date="{{newAbsence.endDate}}"></sye-date-picker-button>
						<sye-time-of-day-selector value="{{newAbsence.timeOfDayEnd}}"></sye-time-of-day-selector>
					</div>
					
					<div id='raison' horizontal layout center around-justified>
					<label>Raison: </label>
					<paper-dropdown-menu>
						<paper-dropdown class="dropdown">
							<core-menu selected='{{newAbsence.reason}}' valueattr='value' on-core-change="{{reasonSelected}}">
								<paper-item value="Death">Décès</paper-item>
								<paper-item value="MedicalCertificate">Certificat médical</paper-item>
								<paper-item value="DrivingTestNotification">Convocation permis de conduire</paper-item>
								<paper-item value="TheoryDrivingTestNotification">Convocation code de la route</paper-item>
								<paper-item value="Summons">Convocation administrative</paper-item>
								<paper-item value="PublicTransportProblem">Problème de transport en commun</paper-item>
								<paper-item value="ReligiousHoliday">Fête religieuse</paper-item>
								<paper-item value="Other">Autre</paper-item>
							</core-menu>
						</paper-dropdown>
					</paper-dropdown-menu>
					</div>
					
					<template if='{{newAbsence.reason =="Other" }}'>
						<paper-input-decorator floatingLabel label="Commentaire">
							<input is="core-input" id="commentary" value="{{newAbsence.commentary}}">
						</paper-input-decorator>
					</template>
				</div>
				<div horizontal layout>
					<paper-button on-tap="{{send}}" raised end-justified class='indigo'>
						Enregistrer
						<core-icon icon="chevron-right"></core-icon> 
					</paper-button>
				</div>
			</div>
			
		</div>
	</template>
	<script src='../../controllers/i/syv_absences.dart' type='application/dart'></script>
</polymer-element>


