#container, #navbar {
	height: 100%;
	position: fixed;
	opacity: 1;
	overflow-x: hidden;
	overflow-y: scroll;
	top: 0;

	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

#container {
	left: 0%;
	width: 100%;
}
#container.navEnabled {
	left: 22%;
	width: 78%;
}
#container > *::shadow > .padding {
	position: relative;
	left: 15%; right: 15%;
	margin-bottom: 5%;
	width: 70%;
}

#navbar {
	background-color: #424242; /* Grey 800 */
	left: -22%;
	width: 22%;
	z-index: 10000;
}
#navbar.navEnabled {
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3); /* paper-shadow z=2 */
	left: 0;
}

#actionToaster, #toaster {
	position: fixed;
	bottom: 30px;
  	left: 25%;
  	right: 25%;
	z-index: 60000;
}

/* Responsive layout */
@media screen and (max-width: 767px)
{
  #container {
    left: 0;
    width: 100%;
  }
  #container.navEnabled {
    left: 0;
  }
  #container > *::shadow > .padding {
    position: relative;
    left: 5%; right: 5%;
    margin-bottom: 2%;
    width: 90%;
    top: 72px;
  }

  #navbar:not(.mobile) {
    left: 0;
    top: -60px;
    height: 60px;
    width: 100%;
  }

  #navbar.mobile {
    left: 0;
    top: 0;
    height: 60px;
    width: 100%;
  }
  #navbar.mobile.navEnabled {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
  
  #actionToaster, #toaster {
	bottom: 0;
  	left: 0;
  	right: 0;
  }
}

@media screen and (min-width: 1280px)
{
  #container {
    left: 0;
    width: 100%;
  }
  #container.navEnabled {
    left: 14%;
    width: 86%;
  }

  #navbar {
    left: -14%;
    width: 14%;
  }
  #navbar.navEnabled {
    left: 0;
    width: 14%;
  }

}