#button {
	background-color: #f57C00;
	opacity: 0.5;
	position: fixed;
	right: 24px;
	top: 8px;
	transition: all 0.25s;
	z-index: 20020;
}
#button:hover {
	opacity: 1;
}
#button.deployed {
	background-color: #d23f31;
}

#background {
	background-color: rgba(0,0,0,0);
	left:0; top: 0;
	height: 100%;
	position: fixed;
	transition: all 1s;
	width: 100%;
	z-index: -1;
}
#background.deployed {
	background-color: rgba(0,0,0,0.8);
	z-index: 20000;
}

#dialog {
	background-color: #ddd;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
	left:25%; top: -90%;
	height: 80%;
	position: fixed;
	transition: all 1s;
	width: 50%;
	z-index: 21000;
}
#dialog.deployed {
	top: 10%;
}

#dialog core-toolbar {
	background-color: #d32f2f;
	-webkit-border-top-left-radius: 3px; -moz-border-top-left-radius: 3px; border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px; -moz-border-top-right-radius: 3px; border-top-right-radius: 3px;
	color: white;
}
#dialog core-toolbar p {
	font-size: 1.17em;
}

#dialog-panel {
	height:80%;
	padding-left: 1em;
	padding-right: 1em;
	overflow-y: scroll;
	text-align: justify;
}
#dialog-panel .introduction {
	color: #555;
	font-size: 13px;
	margin-bottom: 0;
}
#dialog-panel .introduction br {
  content: "";
  margin: 1.4em;
  display: block;
  font-size: 24%;
}

.group div {
	line-height: 44px;
}

paper-input-decorator /deep/ .unfocused-underline,
paper-input-decorator /deep/ .focused-underline {
	background-color: #d32f2f;
}

paper-radio-button::shadow #ink[checked] {
	color: #f4b400;
}
paper-radio-button::shadow #onRadio {
	background-color: #f4b400;
}
paper-radio-button[checked]::shadow #offRadio {
	border-color: #f4b400;
}

.hint {
	color: #777;
	font-size: 13px;
	margin-top: -0.5em;
}

#send-button {
	float: right;
}

@media screen and (max-width: 767px) {
	#dialog {
		height: 80%;
		left: 0;
		top: -90%;
		width: 100%;
	}
	#dialog-panel #unzoom-mobile {
		zoom: 80%;
	}
	#dialog.deployed {
		top: 10%;
	}
	#dialog core-toolbar p {
		font-size: 1em;
	}
}