:host #toggle {
	display: none !important;
}
:host(.mobile) #toggle {
	display: inline-block !important;
}

/* Header */
#header {
	background-color: #673ab7; /* Deep Purple 500 */
	border-bottom: 1px solid #5e35b1;
	color: #ede7f6; /* Deep Purple 50 */
	height: 60px;
	padding-left: 3%;
}

#header core-icon {
	display: inline-block;
	margin-right: 3%;
	opacity: 0.75;
}
#header core-icon:hover {
	display: inline-block;
	margin-right: 3%;
	opacity: 1;
}
#header core-icon.disabled {
	opacity: 0.25;
}

:host(.mobile) #header {
	padding-right: 64px;
}

#header h4 {
	display: inline-block;
	font-weight: normal;
}

/* Actions & Groups */
#links {
	overflow-y: scroll;
}

#links /deep/ .actionable {
	color: white;
	font-size: 17px;
	padding-bottom: 6px; padding-top: 6px;
	padding-left: 3%; padding-right: 3%;
	text-overflow: ellipsis;
	transition: all 0.25s;
}
#links /deep/ .actionable:hover {
	background-color: #616161;
	padding-left: 6%;
}
#links /deep/ .actionable .label {
	display: inline-block;
	max-width: 80% !important;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}
#links /deep/ .actionable .caret {
	color: #9E9E9E;
	float: right;
	transform: rotate(90deg);
	transition: all 0.375s;
}
#links /deep/ .actionable:hover .caret {
	color: #E0E0E0;
}

#links /deep/ .actionable.collapsed {
	background-color: #313131;
}
#links /deep/ .actionable.collapsed:hover {
	background-color: #616161;
}
#links /deep/ .actionable.collapsed .caret {
	transform: rotate(-90deg) rotateX(180deg);
}

#links /deep/ #collapseEl {
	background-color: #212121;
}
#links /deep/ #collapseEl /deep/ .actionable {
	border-left: 12px solid #313131;
	padding-left: 3%;
}
#links /deep/ #collapseEl /deep/ .actionable:hover {
	border-left: 12px solid #313131;
	padding-left: 6%;
}

/* Footer */
:host(.mobile) #footer {
  bottom: -140px !important;
}
:host(.navEnabled) #footer {
  bottom: 0px !important;
}

#footer {
	background-color: #424242;
	border-top: 1px solid #3b3b3b;
	bottom: 0;
	left: 0;
	height: 80px;
	position: absolute;
	width: 100%;
}

#footer .pictureMedaillon {
	background-color: #424242;
	background-position: center center;
	background-size: cover;
	border: 1px solid #3b3b3b;
	border-radius: 54px;
	display: block;
	height: 54px;
	margin-top: -24px;
	margin-left: auto; margin-right: auto;
	width: 54px;
}

#footer .pictureMedaillon.displayed {
	-webkit-animation: medaillonLayoutIn 1.5s; -moz-animation: medaillonLayoutIn 1.5s; -o-animation: medaillonLayoutIn 1.5s; animation: medaillonLayoutIn 1.5s;
}

#footer .pictureMedaillon .overlay {
	-webkit-animation: spin 1.5s linear infinite; -moz-animation: spin 1.5s linear infinite; -o-animation: spin 1.5s linear infinite; animation: spin 1.5s linear infinite;
	background-color: rgba(0,0,0, 0.5);
	border-radius: 54px;
	bottom: 0; left: 0; right: 0; top: 0;
	height: 54px;
	opacity: 0;
	position: relative;
	width: 54px;
	transition: all 0.25s;
}

#footer .pictureMedaillon:hover .overlay {
	opacity: 1;
}

#footer .pictureMedaillon .overlay .cogWheel {
	bottom: 7px; left: 7px; right: 7px; top: 7px;
	color: white;
	height: 40px;
	opacity: 0.875;
	position: relative;
	width: 40px;
}

#footer .fullName {
	color: white;
	margin-top: 0.3em;
	text-align: center;
}

#footer .fullName core-icon {
	opacity: 0.25;
}
#footer .fullName core-icon:hover {
	opacity: 0.75;
}

@-webkit-keyframes medaillonLayoutIn {
	from {
		margin-top: 96px;
		opacity: 0;
		transform: rotate(-180deg);
	}
	to {
		margin-top: -24px;
		opacity: 1;
		transform: rotate(0deg);
	}
}

@-moz-keyframes medaillonLayoutIn {
	from {
		margin-top: 96px;
		opacity: 0;
		transform: rotate(-180deg);
	}
	to {
		margin-top: -24px;
		opacity: 1;
		transform: rotate(0deg);
	}
}

@-o-keyframes medaillonLayoutIn {
	from {
		margin-top: 96px;
		opacity: 0;
		transform: rotate(-180deg);
	}
	to {
		margin-top: -24px;
		opacity: 1;
		transform: rotate(0deg);
	}
}

@keyframes medaillonLayoutIn {
	from {
		margin-top: 96px;
		opacity: 0;
		transform: rotate(-180deg);
	}
	to {
		margin-top: -24px;
		opacity: 1;
		transform: rotate(0deg);
	}
}

@keyframes spin {
	0% {
		background-color: rgba(0,0,0,0.5);
		transform: rotate(0deg);
	}
	50% {
		background-color: rgba(0,0,0,0.75);
	}
	100% {
		background-color: rgba(0,0,0,0.5);
		transform: rotate(360deg);
	}
}