.head {
    display: block;
    font-size: 42px;
    margin-bottom: 0.1em;
    text-align: center;
}

.introduction {
    border-bottom: 1px solid #aaa;
    color: #444;
    display: block;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
}

.logo {
	-webkit-animation: logo-appear 2s; animation: logo-appear 2s;
	background-image: url(/static/logo320.png);
	background-position: center 60px;
	background-repeat: no-repeat;
	background-size: 320px 320px;
	height: 380px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	width: 320px;
}

@-webkit-keyframes logo-appear {
	from {
		background-position: center -380px;
		opacity: 0;
	}
	to {
		background-position: center 60px;
		opacity: 1;
	}
}
@keyframes logo-appear {
	from {
		background-position: center -380px;
		opacity: 0;
	}
	to {
		background-position: center 60px;
		opacity: 1;
	}
}

#login-button {
	position: absolute;
	right: 0;
}

@media screen and (max-width: 767px) {
	.logo {
		background-position: center 60px;
		background-size: 180px 180px;
		height: 240px;
		margin-top: -60px;
		margin-left: auto;
		margin-right: auto;
		width: 180px;
	}
	
	@-webkit-keyframes logo-appear {
		from {
			background-position: center -240px;
			opacity: 0;
		}
		to {
			background-position: center 60px;
			opacity: 1;
		}
	}
	@keyframes logo-appear {
		from {
			background-position: center -240px;
			opacity: 0;
		}
		to {
			background-position: center 60px;
			opacity: 1;
		}
	}
	
	#login-button {
		position: relative;
		width: 100%;
	}
}