<link href="../../import.html" rel="import">

<polymer-element name="syv-classroom--t">
	<template>
		<div class="padding">
			<h1>{{lesson.course.name}}</h1>
			<hr>
			<div horizontal layout justified>
				<h2>Mes cours</h2>
				<paper-fab icon="add" on-tap='{{addLecture}}'></paper-fab>
			</div>
			<div horizontal layout center>
				<template repeat='{{lesson in lessons}}'>
					<div style="margin:20px">
					<paper-card style="padding:20px" data-lecture-id='{{lecture.id}}' on-tap='{{openLecture}}'>
						<small style="cursor:default">{{lecture.date | formatDate()}} {{lecture.classroom}}</small>
					</paper-card>
					</div>
				</template>
			</div>
			<hr>
			<div horizontal layout justified>
				<h2>Mes évaluations</h2>
				<paper-fab icon="add" on-tap='{{addEval}}'></paper-fab>
			</div>
			<div horizontal layout center>
				<template repeat='{{evaluation in evaluations}}'>
					<div style="margin:20px">
						<paper-card style="padding:20px" data-evaluation-id='{{evaluation.id}}' on-tap='{{openEvaluation}}'>
							<small style="cursor:default">{{evaluation.date | formatDate()}} {{evaluation.name}}</small>
						</paper-card>
					</div>
				</template>
			</div>
		</div>
	</template>
	<script src="../../controllers/t/syv_classroom.dart" type="application/dart"></script>
</polymer-element>